[user]
	name = youyoumu
	email = 19760884+youyoumu@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[safe]
	directory = *
[core]
	editor = nvim
  pager = delta
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
	features = catppuccin-mocha
  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true

[merge]
  conflictstyle = zdiff3

[includeIf "gitdir:C:/Users/yym/"]
  path = ~/.gitconfig.windows

[includeIf "gitdir:/home/yym/"]
  path = ~/.gitconfig.linux
	path = /home/yym/.config/delta/themes/catppuccin.gitconfig

