workspace_toggle_state
gpu-screen-recoder.pid
.config/fish/fish_variables
.config/environment.d/10-home-manager.conf
.config/nvim/spell/*.spl
.config/nvim/spell/*.sug
windows/winget-packages.json
windows/yasb/yasb.log
