[user]
	name = youyoumu
	email = 19760884+youyoumu@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[safe]
	directory = *
[core]
	editor = nvim
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3
[include]
	path = /home/yym/.config/delta/themes/catppuccin.gitconfig
[delta]
	features = catppuccin-mocha
