output "DP-3" {
    mode "1920x1080"
    position x=0 y=0
}
output "HDMI-A-1" {
    mode "1920x1080"
    position x=1920 y=0
}
output "DP-2" {
    mode "1920x1080"
    position x=3840 y=0
}
//
workspace "1A" {
    open-on-output "DP-3"
}
workspace "1B" {
    open-on-output "HDMI-A-1"
}
workspace "2B" {
    open-on-output "HDMI-A-1"
}
workspace "3B" {
    open-on-output "HDMI-A-1"
}
workspace "1C" {
    open-on-output "DP-2"
}
//
window-rule {
    match app-id="Anki" at-startup=true
    open-on-workspace "3B"
    open-maximized true
}
window-rule {
    match app-id="discord" at-startup=true
    open-on-workspace "1A"
    open-maximized true
}
window-rule {
    match app-id="discord"
    match app-id="google-chrome"
    match app-id="neovide"
    match app-id="microsoft-edge"
    match app-id="thorium-browser"
    open-maximized true
}
//
spawn-at-startup "/home/yym/script/delayed-autostart.sh"
// spawn-at-startup "waybar" "-c" "/home/yym/.config/waybar/config.chocola.niri.jsonc"
window-rule {
    match app-id="seruni"
    open-on-workspace "1C"
}
window-rule {
    match app-id="seruni" title="VN Overlay"
    open-on-workspace "1C"
    geometry-corner-radius 0
    open-floating true
    focus-ring {
        off
    }
}

