@import url("./colors.css");

* {
  border: none;
  font-family: Iosevka Nerd Font;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: @mantle;
  color: @text;
}

tooltip {
  background-color: @base;
  border: 1px solid @surface1;
}

tooltip label {
  color: @text;
}

#workspaces button {
  border-radius: 0;
  padding: 0 5px;
  background-color: @mantle;
  color: @text;
}

#workspaces button:hover {
  background-image: linear-gradient(0deg, @surface1, @mantle);
}

#workspaces button.active {
  background-image: linear-gradient(0deg, @surface1, @mantle);
  border-bottom: 3px solid @blue;
}

#workspaces button.urgent {
  background-image: linear-gradient(0deg, @red, @mantle);
}

#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#disk,
#custom-kernel,
#idle_inhibitor,
#scratchpad,
#mode,
#custom-audio-output,
#custom-workspaces-mode,
#custom-updates,
#tray {
  border-radius: 2px;
  padding: 0 5px;
  margin: 4px 1px;
  color: @text;
}

#clock {
  background-color: @rosewater;
  color: @mantle;
  margin-right: 2px;
}

#cpu {
  background-color: @mauve;
  color: @mantle;
  min-width: 45px;
}

#memory {
  background-color: @red;
  color: @mantle;
}

#disk {
  background-color: @flamingo;
  color: @mantle;
}

#network {
  background-color: @peach;
  color: @mantle;
}

#network.disconnected {
  background-color: red;
  color: @mantle;
}

#bluetooth {
  background-color: @maroon;
  color: @mantle;
  min-width: 40px;
}

#pulseaudio {
  background-color: @yellow;
  color: @mantle;
}

#custom-audio-output {
  background-color: @pink;
  color: @mantle;
}

#custom-workspaces-mode {
  background-color: @blue;
  color: @mantle;
}

#pulseaudio.muted {
  background-color: red;
  color: @mantle;
}

#temperature {
  background-color: @pink;
  color: @mantle;
  min-width: 37px;
}

#temperature.critical {
  background-color: red;
  color: @mantle;
  min-width: 37px;
}

#mpris {
  background-color: @base;
  color: @text;
}

#tray {
  background-color: @overlay0;
  color: @text;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @mantle;
}

#idle_inhibitor {
  background-color: @red;
  color: @mantle;
}

#idle_inhibitor.activated {
  background-color: @text;
  color: @base;
}
