input {
  keyboard {
    repeat-delay 300
    repeat-rate 50
  }
  mouse {
    accel-profile "flat"
  }
  focus-follows-mouse max-scroll-amount="0%"
}

layout {
  gaps 6
  center-focused-column "on-overflow"
  preset-column-widths {
    proportion 0.5
  }
  focus-ring {
    width 2
    active-gradient from="#d9bd6c" to="#ccd7fe" angle=45
  }
}

spawn-at-startup "walker" "--gapplication-service"
spawn-at-startup "noctalia"
spawn-at-startup "xwayland-satellite"
environment {
  DISPLAY ":0"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
}

prefer-no-csd

binds {
  Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty" "+new-window"; }
  Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty" "+new-window"; }
  Mod+A hotkey-overlay-title="Applications launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
  Mod+S hotkey-overlay-title="Custom Launcher" { spawn-sh "noctalia msg panel-toggle launcher '/run'"; }
  Mod+M hotkey-overlay-title="Session menu" { spawn-sh "noctalia msg panel-toggle session"; }
  Mod+V hotkey-overlay-title="Clipboard" { spawn-sh "noctalia msg panel-toggle clipboard"; }
  // Audio & Brightness
  XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
  XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
  XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
  XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
  XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

  Mod+E hotkey-overlay-title="Nautilus" { spawn "nautilus"; }
  Mod+W hotkey-overlay-title="Browser" { spawn "microsoft-edge" "--disable-features=GlobalShortcutsPortal"; }
  Mod+Shift+W hotkey-overlay-title="Run an Application: google-chrome-stable" { spawn "google-chrome-stable" "--disable-features=GlobalShortcutsPortal"; }
  Ctrl+Shift+I { spawn-sh "lua ~/scripts/toggle-fcitx5.lua"; }
  Print { spawn-sh "noctalia msg panel-toggle launcher '/run'"; }
}


window-rule {
  geometry-corner-radius 5
  clip-to-geometry true
}
cursor {
  xcursor-size 24
  xcursor-theme "Ju Fufu"
}
hotkey-overlay {
  skip-at-startup
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-backdrop*"
  place-within-backdrop true
}
// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}
