{{ template "config.kdl" }}

{{ if eq .chezmoi.hostname "chocola" }}
{{ template "hosts/chocola/config.kdl" }}
{{ end }}

binds {
  {{ template "binds.kdl" }}

  {{ if eq .chezmoi.hostname "chocola" }}
  {{ template "hosts/chocola/binds.kdl" }}
  {{ end }}
}
