@define-color rosewater hsl(10deg, 56%, 91%);
@define-color flamingo hsl(0deg, 59%, 88%);
@define-color pink hsl(316deg, 72%, 86%);
@define-color mauve hsl(267deg, 84%, 81%);
@define-color red hsl(343deg, 81%, 75%);
@define-color maroon hsl(350deg, 65%, 77%);
@define-color peach hsl(23deg, 92%, 75%);
@define-color yellow hsl(41deg, 86%, 83%);
@define-color green hsl(115deg, 54%, 76%);
@define-color teal hsl(170deg, 57%, 73%);
@define-color sky hsl(189deg, 71%, 73%);
@define-color sapphire hsl(199deg, 76%, 69%);
@define-color blue hsl(217deg, 92%, 76%);
@define-color lavender hsl(232deg, 97%, 85%);
@define-color text hsl(226deg, 64%, 88%);
@define-color subtext1 hsl(227deg, 35%, 80%);
@define-color subtext0 hsl(228deg, 24%, 72%);
@define-color overlay2 hsl(228deg, 17%, 64%);
@define-color overlay1 hsl(230deg, 13%, 55%);
@define-color overlay0 hsl(231deg, 11%, 47%);
@define-color surface2 hsl(233deg, 12%, 39%);
@define-color surface1 hsl(234deg, 13%, 31%);
@define-color surface0 hsl(237deg, 16%, 23%);
@define-color base hsl(240deg, 21%, 15%);
@define-color mantle hsl(240deg, 21%, 12%);
@define-color crust hsl(240deg, 23%, 9%);

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: @red;
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @text;
}

#box {
  border-radius: 2px;
  background: @mantle;
  padding: 32px;
  border-radius: 8px;
}

#search {
  background: lighter(@mantle);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @text;
  opacity: 0.2;
}

#clear {
  color: @text;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @text;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 4px;
}

child:selected,
child:hover {
  background: @surface0;
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @text;
  background: @mantle;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@mantle);
}
